<!-- <div style=""> -->
<div
  class="card shadow border-0 mb-7 w-100 flexForEveryTemplate"
  style="border-radius: 0px"
>
  <div class="card-header">
    <h5 class="mb-0">Agents</h5>
  </div>
  <div class="table-responsive">
    <table class="table table-hover table-nowrap">
      <thead class="thead-light">
        <tr>
          <th scope="col">Comapny Name</th>
          <th scope="col">Place</th>
          <th scope="col">email</th>
          <th scope="col">mobile</th>
          <!-- <th scope="col">website</th> -->

          <th scope="col" style="width: 0" class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody
        *ngFor="
          let post of POSTS
            | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index
        "
      >
        <tr>
          <td>
            <!-- <img
              alt="..."
              src="https://i.postimg.cc/YSvkmmds/download-1.jpg"
              class="avatar avatar-sm rounded-circle me-2"
            /> -->
            <a class="text-heading font-semibold" href="#">{{
              post.companyName
            }}</a>
          </td>
          <td>{{ post.city }}</td>
          <td>
            <a class="text-heading font-semibold" href="#">
              {{ post.email }}
            </a>
          </td>
          <td>{{ post.mobile }}</td>
          <!-- <td><i class="bg-success"></i>www.asiatours.com</td> -->
          <td class="text-center">
            <button
              (click)="onActivate(post.id)"
              class="btn"
              [ngClass]="{
                'btn-danger': !post.subscribe,
                'btn-success': post.subscribe
              }"
            >
              {{ post.subscribe ? "Activated" : "Deactivated" }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <pagination-controls
        previousLabel="prev"
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)"
      >
      </pagination-controls>
    </div>
  </div>
  <!-- <div class="card-footer border-0 py-5">
    <span class="text-muted text-sm"
      >Showing 3 items out of 1 results found</span
    >
  </div> -->
</div>
<!-- </div> -->
