<div
  class="card shadow border-0 mb-7 w-100 flexForEveryTemplate"
  style="border-radius: 0px"
>
  <div class="card-header">
    <h5 class="mb-0">Bookings</h5>
  </div>
  <div class="table-responsive">
    <table class="table table-hover table-nowrap">
      <thead class="thead-light">
        <tr>
          <th scope="col">id</th>

          <th scope="col">Name</th>
          <th scope="col">Place</th>
          <th scope="col">email</th>
          <th scope="col">mobile</th>
          <th scope="col">booking date</th>

          <th scope="col" style="width: 0">Actions</th>
        </tr>
      </thead>
      <tbody
        *ngFor="
          let post of POSTS
            | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index
        "
      >
        <tr>
          <td>
            <a class="text-heading font-semibold" href="#">{{ post.id }} </a>
          </td>
          <td>
            <a class="text-heading font-semibold" href="#"
              >{{ post.user.name }}
            </a>
          </td>
          <td>{{ post.user.place }}</td>
          <td>
            <a class="text-heading font-semibold" href="#">
              {{ post.nameOnCard }}
            </a>
          </td>
          <td>903940393</td>
          <td>12-02-2024</td>

          <td class="text-end">
            <a
              [routerLink]="['/flightBookingsDetailPage', post.id]"
              class="btn btn-sm btn-neutral"
              >view</a
            >
            <button
              type="button"
              class="btn btn-sm btn-square btn-neutral text-danger-hover"
            >
              <i
                class="bi bi-trash"
                type="button"
                (click)="onDeleteBooking(post.id)"
              ></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <pagination-controls
      previousLabel="prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>
  </div>
</div>
