<div class="page-holder align-items-center py-4 bg-gray-100 vh-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4"></div>
      <div class="col-lg-4 px-lg-5">
        <div class="card">
          <div class="card-header px-lg-5">
            <div class="card-heading text-primary" style="text-align: center">
              <h3 class="mb-4">
                <img
                  class="imgTravelSite"
                  src="https://i.postimg.cc/Dzbnx1n9/image.png"
                  alt=""
                  srcset=""
                />
              </h3>
            </div>
          </div>
          <div class="card-body p-lg-5">
            <form
              action="#"
              class="login-form"
              [formGroup]="myForm"
              (ngSubmit)="loginProcess()"
              id="loginForm"
              action="index.html"
            >
              <div class="form-floating mb-3">
                <input
                  class="form-control"
                  id="floatingInput"
                  type="email"
                  name="email"
                  formControlName="email"
                  placeholder="name@example.com"
                  required
                />
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  class="form-control"
                  id="floatingPassword"
                  type="password"
                  name="password"
                  placeholder="Password"
                  formControlName="password"
                />
                <label for="floatingPassword">Password</label>
              </div>
              <div class="form-check mb-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="remember"
                  id="remember"
                />
                <label class="form-check-label" for="remember"
                  >Remember me</label
                >
              </div>
              <button class="btn btn-primary" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4"></div>
      <!-- register -->
    </div>
  </div>
</div>
